mixin header( text, info )
.header__container
    .header
        .header__logo
        .header__description #{ text }
        .header__elems
        .header__cross
            .icon__cross
    .header__purpose
    .header__info Выберите изображение&nbsp;
        strong #{ info }
        | &nbsp;на фото:

