doctype
html
    include m-head
    +head('пока не ясно')
    body
        #container
            include header

            .main__container
                .main__holder
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-1
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-2
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-3
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-4
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-5
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-6
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-7
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-8
                    label.captcha__container
                        input( type="checkbox" )
                        .image__container
                            .relation__ratio-1x1
                            .relation__content
                                .captcha__image.captcha__image-9


            include footer


